<div>
    <form (ngSubmit)="login()">
      <h2>Log In</h2>
      <label for="user-name-login">User Name</label>
      <input
        type="text"
        [(ngModel)]="username"
        name="user-name-login"
        id="user-name-login"
        placeholder="User Name"
        required
      />
      <label for="password-login">Password</label>
      <input
        type="password"
        [(ngModel)]="password"
        name="password-login"
        id="password-login"
        placeholder="******"
        required
      />
      <button type="submit">Log In</button>
      <p>Don't Have An Account?<span> Register</span></p>
    </form>

    <form (ngSubmit)="signUp()">
      <h2>Sign Up</h2>
      <label for="name-signup"> Name</label>
      <input
        type="text"
        [(ngModel)]="name"
        name="name-signup"
        id="name-signup"
        placeholder="Name"
        required
      />
      <label for="email-signup">Email</label>
      <input
        type="email"
        [(ngModel)]="email"
        name="email-signup"
        id="email-signup"
        placeholder="Email"
        required
      />
      <label for="phone-signup">Phone Number</label>
      <input
        type="number"
        [(ngModel)]="phone"
        name="phone-signup"
        id="phone-signup"
        placeholder="Phone Number"
        required
      />
      <label for="user-name-signup">User Name</label>
      <input
        type="text"
        [(ngModel)]="username_signup"
        name="user-name-login"
        id="user-name-signup"
        placeholder="User Name"
        required
      />
      <label for="password-signup">Password</label>
      <input
        type="password"
        [(ngModel)]="password_signup"
        name="password-signup"
        id="password-signup"
        placeholder="******"
        required
      />
      <button type="submit">Sign Up</button>
      <p>Already Have An Account?<span> Log In</span></p>
    </form>
</div>
