<header>
  <h1>{{ title }}</h1>
  <img src="assets/icons/circled_menu.svg" alt="menu" class="menu-img" (click)="openCloseToolBar()">
  <div class="toolbar">
    <form class="search" (ngSubmit)="searchProduct()">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        name="search"
        id="search"
        placeholder="Search Item"
        required
      />
      <img
        ngSrc="assets/icons/search.svg"
        alt="search"
        height="64"
        width="64"
      />
    </form>
    <img
      src="{{ imagePath }}"
      alt="cart"
      class="theme"
      (click)="themeChanged()"
    />
    <a routerLink="/"><span>Home</span></a>
    <a routerLink="/products"><span>Products</span></a>
    <a routerLink="/help"><span>Help</span></a>
    <a routerLink="/cart"
    ><img
      ngSrc="assets/icons/shopping_cart.svg"
      height="64"
      width="64"
      alt="cart"
    /></a>
    <div class="profile">
      <a
      ><img
        ngSrc="assets/icons/circled_user_male.svg"
        height="64"
        width="64"
        alt="account"
        (click)="profileClicked()"
      /></a>
      <div id="account" class="account">
        <a (click)="redirectToLogIn()">User {{userName}}: {{getText()}}</a>
        <a (click)="redirectToAdminLogIn()">Admin {{adminName}}: {{getAdminText()}}</a>
      </div>
    </div>
  </div>
</header>
