.details-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-container .img-container {
  height: 500px;
  width: 500px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px 5px var(--hover-color);
  margin: 0 0 20px;
  padding: 0;
  overflow: hidden;
}

.details-container .img-container img {
  height: 100%;
  width: 100%;
  padding: 0;
  object-fit: cover;
}

.details-container h3 {
  font-weight: bolder;
  font-size: xx-large;
  margin: 0 0 20px;
}

.details-container p {
  font-weight: bold;
  font-size: large;
  margin: 0 0 20px;
  padding: 0;
}

.details-container p span {
  font-weight: normal;
  font-size: medium;
  margin: 0;
  padding: 0;
}

