<div>
  <div class="details-container">
    <div class="img-container">
      <img src="{{ imageUrl ? imageUrl : 'assets/icons/image.svg' }}" alt="image">
    </div>
    <h3 class="name">{{ name }}</h3>
    <p class="description">Description: <span>{{ description }}</span></p>
    <div class="other-prod-details">
      <p class="price">Price: <span>{{ price | currency }}</span></p>
      <div style="margin-left: 50px;"></div>
      <p class="stock">Stock: <span>{{ stock }}</span></p>
    </div>
  </div>
</div>
